<!DOCTYPE html>
<html>

<head>
	<title>Inventory System</title>
	<style>
		body {
			background: plum;
		}

		form {
			margin: 20px auto;
			width: 500px;
			padding: 3px;

		}

		.mainDiv {
			display: block !important;
			border: 2px solid black;
			padding: 10px 50px;
			min-height: 400px;
		}

		#receipt {
			margin: 20px auto;
			width: 500px;
			background: powderblue;
		}

		.mainDiv div {
			width: 50%;
			float: left;
			margin-top: 5px;
		}

		h1 {
			text-align: center;
			color: purple;
		}

		button {

			margin: 50px 150px;
			color: salmon;
			background: slategray;
			height: 40px;
		}

		p {
			margin: 0px;
			padding: 0px
		}

		label {
			font-weight: bold;
		}

		#errors {
			color: red;
		}
	</style>
	<!-- <script type="text/javascript" src="./main.js"></script> -->
</head>

<body>
	<% 
		if(typeof errorsData !== 'undefined' ){
			for(var error of errorsData.errors){
				%>
	<h4 style="color:red;margin:2px;padding: 2px;"><%= error.msg %></h4>
	<%
			}
		}
	%>
	<% 
		if(typeof receiptData !== 'undefined' && typeof errorsData == 'undefined'){
	%>
	<div>
		<h1>My Receipt </h1>
		<div class="mainDiv">
			<div>
				<label>Name: </label>
			</div>
			<div>
				<p id="r_name"><%=receiptData.name%></p>
			</div>
			<div>
				<label>Email: </label>
			</div>
			<div>
				<p id="r_email"><%=receiptData.email%></p>
			</div>
			<div>
				<label>Phone: </label>
			</div>
			<div>
				<p id="r_phone"><%=receiptData.phone%></p>
			</div>
			<div>
				<label> Address :</label>
			</div>
			<div>
				<p id="r_addr"><%=receiptData.address%></p>
			</div>
			<div>
				<label> City :</label>
			</div>
			<div>
				<p id="r_city"><%=receiptData.city%></p>
			</div>
			<div>
				<label> Post Code: </label>
			</div>
			<div>
				<p id="r_code"><%=receiptData.pin%></p>
			</div>
			<div>
				<label> Province :</label>
			</div>
			<div>
				<p id="r_province"><%=receiptData.prv%></p>
			</div>
			<div>
				<label> Product 1 ($10/Product): </label>
			</div>
			<div>
				<p id="r_p1"><%=receiptData.p1%></p>
			</div>
			<div>
				<label> Product 2 ($5/Product): </label>
			</div>
			<div>
				<p id="r_p2"><%=receiptData.p2%></p>
			</div>
			<div>
				<label> Product 3 ($15/Product): </label>
			</div>
			<div>
				<p id="r_p3"><%=receiptData.p3%></p>
			</div>

			<div>
				<label> Delivery Charge</label>
			</div>
			<div>
				<p id="r_delivery"><%=receiptData.delivery%></p>
			</div>
			<div>
				<label> Sub Charges</label>
			</div>
			<div>
				<p id="r_sub">$<%=receiptData.subtotal%></p>
			</div>
			<div>
				<label> Tax</label>
			</div>
			<div>
				<p id="r_tax">$<%=receiptData.tax%></p>
			</div>
			<div>
				<label> Total</label>
			</div>
			<div>
				<p id="r_total">$<%=receiptData.total%></p>
			</div>
		</div>
		<div>
			<p id='errors'></p>
		</div>
	</div>
	<%
		}
		else{
	%>
	<form name="frm" action="/reciept" method="POST">
		<h1>My Shop </h1>
		<div class="mainDiv">
			<div>
				<label>Name </label>
			</div>
			<div>
				<input type="text" id="name" name="name">
			</div>
			<div>
				<label>Email </label>
			</div>
			<div>
				<input type="text" name="email" id="email">
			</div>
			<div>
				<label>Phone </label>
			</div>
			<div>
				<input type="text" name="phone" id="phone">
			</div>
			<div>
				<label> Address </label>
			</div>
			<div>
				<input type="text" name="address" id="add">
			</div>
			<div>
				<label> City </label>
			</div>
			<div>
				<input type="text" name="city" id="city">
			</div>
			<div>
				<label> Post Code </label>
			</div>
			<div>
				<input type="text" name="pin" id="pin">
			</div>
			<div>
				<label> Province </label>
			</div>
			<div>
				<select name='prv' id="province">
					<option value='Alberta'>Alberta</option>
					<option value='British Columbia'>British Columbia</option>
					<option value='Manitoba'>Manitoba</option>
					<option value='New Brunswick'>New Brunswick</option>
					<option value='Newfoundland and Labrador'>Newfoundland and Labrador</option>
					<option value='Northwest Territories'>Northwest Territories</option>
					<option value='Nova Scotia'>Nova Scotia</option>
					<option value='Nunavut'>Nunavut</option>
					<option value='Ontario'>Ontario</option>
					<option value='Prince Edward Island'>Prince Edward Island</option>
					<option value='Quebec'>Quebec</option>
					<option value='Saskatchewan'>Saskatchewan</option>
					<option value='Yukon Territory'>Yukon Territory</option>
				</select>
			</div>
			<div>
				<label> Product 1 </label>
			</div>
			<div>
				<input type="text" min="0" name="p1" id='p1'>
			</div>
			<div>
				<label> Product 2 </label>
			</div>
			<div>
				<input type="text" min="0" name="p2" id='p2'>
			</div>
			<div>
				<label> Product 3 </label>
			</div>
			<div>
				<input type="text" min="0" name="p3" id='p3'>
			</div>

			<div>
				<label> Delivery Time</label>
			</div>
			<div>
				<select name="delivery" id="delivery">
					<option value='Day1'>Day 1</option>
					<option value='Day2'>Day 2</option>
					<option value='Day3'>Day 3</option>
					<option value='Day4'>Day 4</option>
				</select>
			</div>
			<button type="submit">Place Order</button>
		</div>
		<div>
			<p id='errors'></p>
		</div>
	</form>
	<%
		}
	%>




</body>

</html>